<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLASK IS THAT YOU???</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'styles.css')}}" />
  </head>
  <body>
    <h1>THIS IS BEAUTIFUL WORK</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quae

      accusamus? Et dolores officia error aut fugit blanditiis ipsa tempora odit

      saepe animi impedit nulla, voluptatum numquam natus facere illum!
      
    </p>
  </body>
</html>
